{% extends 'base.html.twig' %}

{% block title %}Association de la préfecture de la Haute-Vienne{% endblock %}

{% block body %}

    {% set fullName = "#{user.FirstName} #{user.LastName}" %}


    {# class="flex flex-col justify-evenly w-[40rem] h-fit px-32 m-auto my-8 rounded-lg shadow-md bg-gray-100"> #}
    <div class="flex flex-col justify-evenly h-fit overflow-hidden w-[65rem] m-auto my-8 rounded-lg shadow-md bg-gray-100 pb-4">

        <div class="overflow-hidden">
            <div class="align-start blur w-[65rem]">
                <img src="{{ asset('/ImageProfil/imageBackgroundProfile.png') }}"  alt="backgroundProfil">
            </div>
        </div>


        <div class="w-28 h-28 -mt-14 z-50 mx-auto border border-gray-100 border-4 rounded-full relative">
            {% if user.imageName is null %}
                <img class="rounded-full" src="{{ asset('/ImageProfil/profil_default.png')}}"  alt="imageProfil">
            {% else %}
                <img class="rounded-full" src="{{ asset('/ImageProfil/'~user.imageName)}}"  alt="imageProfil">
            {% endif %}
            <a  href="{{ path('change_image')}}"><span class="bg-white text-lg h-[2.5rem] text-center leading-[2.25em] transition hover:scale-125 w-[2.5rem] rounded-full absolute -top-[.5rem] -right-[.5rem]">✏️</span></a>
        </div>

        <div class="pb-5">
            <h1 class="font-bold text-xl text-center">{{ fullName }}</h1>
            <p class="text-xl text-center">{{ user.username }}</p>
        </div>


        <div class="flex flex-row flex-wrap justify-center px-28">
            <div class="basis-1/2 border-r-4 border-gray-300 pr-4">
                <h1 class="font-bold text-2xl text-center mb-3">Informations générales</h1>
                <table class="border border-gray-300 bg-white">
                    <tr class=" border border-gray-300">
                        <th class="p-4 w-[40%]">Nom et prénom</th>
                        <td class="p-4 w-[60%]">{{ fullName }}</td>
                    </tr>
                    <tr class="border border-gray-300">
                        <th class="p-4 w-[40%]" >Mail</th>
                        {% set lengthArobaseSplit = user.mail|split('@') %}
                        {% set lengthMail1 = lengthArobaseSplit[0]|length %}
                        {% set lengthMail2 = lengthArobaseSplit[1]|length %}
                        {% set nvMail = user.mail|slice(0, 3) %}

                        {% for i in 3..lengthMail1-1 %}
                            {% set nvMail = nvMail ~ '*' %}
                        {% endfor %}

                        {% set nvMail = nvMail ~ '@' %}

                        {% for i in 0..lengthMail2-1 %}
                            {% set nvMail = nvMail ~ '*' %}
                        {% endfor %}

                        <td class="p-4 w-[60%]">{{ nvMail }}</td>
                        <td><a class="text-xl" href="{{ path('verif_mdp')}}">✏</a></td>
                    </tr>
                    <tr class=" border border-gray-300">
                        <th class="p-4 w-[40%]">Mot de passe</th>
                        <td class="p-4 w-[60%] "><a class="text-navbar-background font-semibold underline" href="{{ path('verif_mail')}}">Changer le mot de passe</a></td>
                    </tr>

                </table>
            </div>

            <div class="basis-1/2 pl-4">
                <h1 class="font-bold text-2xl  text-center mb-3">Informations complémentaires</h1>
                <table class="border border-gray-300 bg-white">
                    <tr class="border border-gray-300">
                        <th class="p-4 w-[40%]" >Téléphone</th>
                        <td class="p-4 w-[60%]">{{ user.telephone }}</td>
                        <td><a class="text-xl" href="{{ path('change_telephone')}}">✏</a></td>
                    </tr>
                    <tr class="border border-gray-300">
                        <th class="p-4 w-[40%]">Adresse</th>
                        <td class="p-4 w-[60%]">{{ user.address }}</td>
                        <td><a class="text-xl" href="{{ path('change_address')}}">✏</a></td>
                    </tr>
                    <tr class="border border-gray-300">
                        <th class="p-4 w-[40%]">Date de naissance</th>
                        <td class="p-4 w-[60%]">{{ user.birthDate }}</td>
                    </tr>
                </table>
            </div>

            <div class="basis-1/2 py-5">
                <h1 class="font-bold text-2xl text-center mb-3">Autres</h1>
                <table class="border border-gray-300 bg-white">
                    <tr class="border border-gray-300">
                        <th class="p-4 w-[50%]" >Sexe</th>
                        <td class="p-4 w-[50%]">{{ user.gender }}</td>
                    </tr>
                    <tr class="border group border-gray-300">
                        <th class="p-4 w-[50%]">Status d'adhésion</th>
                        <td class="p-4 w-[50%]">A venir</td>
                    </tr>
                    <tr class="border border-gray-300">
                        <th class="p-4 w-[50%]">Date de renouvellement</th>
                        <td class="p-4 w-[50%]">A venir</td>
                    </tr>
                </table>
            </div>

            {#
            <p class="font-medium">Renouvellement de l'adhésion</p>
            <p class="mb-6 p-2 rounded-md bg-white text-black">{{ user.dateRenewal }}</p>
            
            //pour recuperer roles
            <p>{{ user.roles ? user.roles|json_encode : '' }}</p>
            #}
        </div>
    </div>
{% endblock %}