{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

    <div class="flex flex-col justify-evenly w-[40rem] h-fit px-32 m-auto my-8 rounded-lg shadow-md bg-gray-100">
        <h1 class="self-center text-4xl font-bold my-8">Profil</h1>

        <div class="flex flex-col">
            <p class="font-medium">Identifiant</p>
            <p class="mb-6 p-2 rounded-md bg-white text-black">{{ user.username }}</p>

            <p class="font-medium">Nom</p>
            <p class="mb-6 p-2 rounded-md bg-white text-black">{{ user.LastName }}</p>
            
            <p class="font-medium">Prénom</p>
            <p class="mb-6 p-2 rounded-md bg-white text-black">{{ user.FirstName }}</p>

            <p class="font-medium">Mail</p>
            <p class="mb-6 p-2 rounded-md bg-white text-black">{{ user.mail }}</p>

            {#
            <p class="font-medium">Renouvellement de l'adhésion</p>
            <p class="mb-6 p-2 rounded-md bg-white text-black">{{ user.dateRenewal }}</p>
            
            //pour recuperer roles
            <p>{{ user.roles ? user.roles|json_encode : '' }}</p>
            #}
        </div>

        <a href="{{ path('profile_edit') }}" class="self-center transition underline hover:text-blue-900 my-8">
            Modifier profil
        </a>
    </div>
{% endblock %}