{% extends 'base.html.twig' %}

{% block title %}Hello ShopController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Photo</th>
            <th>Description</th>
            <th>Quantite</th>
            <th>Prix</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.name }}</td>
                <td><img src="{{ asset('/ImageArticle/'~article.imageName) }}"></td>
                <td>{{ article.description }}</td>
                <td>{{ article.quantite }}</td>
                <td>{{ article.prix }}</td>


                <td>

                    <a href="{{ path('panier_add', {'id':article.id}) }}">Ajouter</a>
                    <a href="{{ path('panier_remove', {'id':article.id}) }}">Retirer</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path("panier") }}">Voir mon panier</a>

{% endblock %}
