{% extends 'base.html.twig' %}

{% block title %}Hello ShopController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<h1 class="text-5xl my-8 text-center">Boutique de l'association</h1>
<div class="grid place-items-center">
    <div class="w-4/5 flex flex-wrap justify-center text-center">
        {% for article in articles %}
            <div class="w-1/3 border border-2">
                <h2>{{ article.name }}</h2>
                <div class="grid place-items-center">
                    {% if article.imageName is null %}
                    <img class="w-[200px] h-[200px]" src="{{ asset('/ImageArticle/article_default.png') }}"/>
                    {% else %}
                    <img class="w-[200px] h-[200px]" src="{{ asset('/ImageArticle/'~article.imageName) }}"/>
                    {% endif %}
                </div>
                <p>{{ article.description }}</p>
                <div class="bg">
                    <p>{{ article.quantite }}</p>
                    <p>{{ article.prix }}</p>
                </div>
                <div>
                    <a href="{{ path('panier_add', {'id':article.id}) }}">➕</a>
                    <a href="{{ path('panier_remove', {'id':article.id}) }}">➖</a>
                </div>
            </div>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
    </div>
</div>
<div class="text-center">
    <a href="{{ path("panier") }}">Voir mon panier</a>
</div>


{% endblock %}
