{% extends 'base.html.twig' %}

{% block title %}Association de la préfecture de la Haute-Vienne{% endblock %}

{% block body %}

<h1 class="text-4xl mt-10 text-center font-medium underline decoration-[#374779]">Boutique de l'association</h1>

<div class="font-medium transition text-[#7C7C7C] m-16 hover:text-[#37487b] text-lg text-right">
    <a href="{{ path("panier") }}">Mes réservations ➝</a>
</div>

<div class="grid place-items-center">
    <div class="w-4/5 flex flex-wrap justify-around text-center">
        {% for article in articles %}
            <a class="group grid place-items-center p-4 drop-shadow transition h-80 w-80 overflow-hidden hover:scale-105 bg-gray-200 relative"
                 href="{{path('boutique_detail', {id: article.id})}}">
                {% if article.imageName is null %}
                    <div class="m-auto text-4xl font-bold break-normal text-gray-400">
                        {{ article.name }}
                    </div>
                {% else %}
                    <img class="max-w-full max-h-full" src="{{ asset('/ImageArticle/'~article.imageName) }}"/>
                {% endif %}
                <div class="absolute group-hover:drop-shadow-xl transition-all top-80 group-hover:top-0 left-0 w-full h-full bg-white grid place-items-center">
                    <div class="flex flex-col relative m-auto text-xl font-medium break-normal">
                        <p>{{ article.name }}</p>
                        <p>{{ article.prix }} €</p>
                        {% if article.quantite == 0 %}
                            <span class="text-red-500 font-medium">Stock indisponible</span>
                        {% endif %}
                    </div>
                    <span class="absolute bottom-2 group-hover:underline transition group-hover:decoration-[#37487b]"> Réserver</span>

               </div>
            </a>
        {% else %}
            <td colspan="4">Pas de produits trouvés</td>
        {% endfor %}
    </div>
</div>



{% endblock %}
