<style>

    h1{
        font-weight: bold;
    }

    #margin{
        margin-top: 25px;
    }

    .emailBody{
        width: 700px;
        margin: 0px auto 20px auto;
        display: block;
    }

    .emailBody, .footer{
        text-align: center;
    }
    .footer{
        background-color: #1F2945;
        width: 700px ;
        margin: auto;
        display: block;
    }

    .footer div{
        padding-top: 1px;
        padding-bottom: 1px;
    }

    .footer div div div div  p, .footer div div div div a{
        color: white;
    }
    .footer div div div .spaceBot{
        margin-bottom: 15px;
        display: block;
    }

    ul{
        list-style-type: none;
    }
</style>

<div class="emailBody">
    <h1>Association de la préfecture</h1>

    <p id="margin">Bonjour {{ firstname}} {{ lastname }},</p>
    <p>Suppression de la réservation de l'article suivant :</p>
    <p>Nom : <strong>{{ articleName }}</strong>, Quantité : <strong>{{ articleQuantity }}</strong>, Prix : <strong>{{ articlePrice }} €</strong></p>

    <p>Voici votre panier actuel :</p>
    <ul>
        {% set prix = 0 %}
        {% for article in articles %}
            <li>- {{ article.name }}, <strong>Quantité : </strong> {{ article.quantity }}, <strong>Prix : </strong>{{ article.price }} €</li>
            {%  set prix = prix + article.price %}
        {% endfor %}
    </ul>
    <p><strong><u>Total : </u></strong>{{ prix}} €</p>

</div>

<div class="footer">
    {% include 'footer.html.twig' %}
</div>

