{% extends 'admin.html.twig' %}

{% block title %}Administration{% endblock %}

{% block content %}

    <table class="w-4/5 table">
        <thead class="border-b-[3px] border-navbar-background">
        <tr class="w-fit">
            <th class="p-3 space-x-8 text-left">Id</th>
            <th class="p-3 space-x-8 text-left">Nom</th>
            <th class="p-3 space-x-8 text-left">Prénom</th>
            <th class="p-3 space-x-8 text-left">Mail</th>
            <th class="p-3 space-x-8 text-left">Objet</th>
            <th class="p-3 space-x-8 text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr class="border-b-2 border-[#C4C4C4] text-[#7C7C7C] transition font-medium hover:bg-[#E4E4E4]">
                <td class="px-3 py-1 ">{{ contact.id }}</td>
                <td class="px-3 py-1 ">{{ contact.name }}</td>
                <td class="px-3 py-1 ">{{ contact.firstname }}</td>
                <td class="px-3 py-1 ">{{ contact.mailaddress }}</td>
                <td class="px-3 py-1 ">{{ contact.subject }}</td>
                <td class="px-3 py-1 text-center transition font-normal">
                    <a class="hover:text-[#374779]" href="{{ path('contact_show', {'id': contact.id}) }}">👁</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de demandes de contact</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
