{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form method="post" class="flex flex-col justify-evenly w-[40rem] h-fit px-32 m-auto my-8 rounded-lg shadow-md bg-gray-100"">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
    {% endif %}

    <h1 class="self-center text-4xl font-bold my-8">Connexion</h1>
    <div class="flex flex-col">
        <label for="inputUsername" class="font-medium">Identifiant</label>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="mb-8 form-control p-2 border rounded-md border-black" autocomplete="username" required autofocus>
        <label for="inputPassword" class="font-medium">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control p-2 border border-black rounded-md" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >
    </div>

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Se souvenir de moi
            </label>
        </div>
    #}

    <button class="self-center btn btn-lg btn-primary text-white font-bold box-content my-8 h-5 w-48 p-4 border-2 border-[#374779] transition text-white bg-[#374779] hover:bg-[#CBD8E5] hover:text-[#374779]" type="submit">
        CONNEXION
    </button>
</form>
{% endblock %}
