{% form_theme form 'tailwind_2_layout.html.twig' %}

{{ form_start(form) }}
<div class="flex flex-col"> 

    {{ form_row(form.username, {
        row_class: 'mb-2',
        label_class: 'font-medium block',
        error_item_class: 'text-red-700 ',
        widget_class: 'p-2 border rounded-md border-black bg-white focus:bg-gray-200 transition hover:bg-gray-100 w-full',
        widget_disabled_class: 'border-dashed text-gray-200 ',
        widget_errors_class: 'border-double border-red-500 bg-red-50',
    }) }}

    {{ form_row(form.FirstName, {
        row_class: 'mb-2',
        label_class: 'font-medium block',
        error_item_class: 'text-red-700 ',
        widget_class: 'p-2 border rounded-md border-black bg-white focus:bg-gray-200 transition hover:bg-gray-100 w-full',
        widget_disabled_class: 'border-dashed text-gray-200 ',
        widget_errors_class: 'border-double border-red-500 bg-red-50',
    }) }}

    {{ form_row(form.LastName, {
        row_class: 'mb-2',
        label_class: 'font-medium block',
        error_item_class: 'text-red-700 ',
        widget_class: ' p-2 border rounded-md border-black bg-white focus:bg-gray-200 transition hover:bg-gray-100 w-full',
        widget_disabled_class: 'border-dashed text-gray-200 ',
        widget_errors_class: 'border-double border-red-500 bg-red-50',
    }) }}

    {{ form_row(form.mail, {
        row_class: 'mb-2',
        label_class: 'font-medium block',
        error_item_class: 'text-red-700 ',
        widget_class: 'p-2 border rounded-md border-black bg-white focus:bg-gray-200 transition hover:bg-gray-100 w-full',
        widget_disabled_class: 'border-dashed text-gray-200 ',
        widget_errors_class: 'border-double border-red-500 bg-red-50',
    }) }}


    {% if edit %}
    {{ form_row(form.plainPassword, {
        row_class: 'mb-2',
        label_class: 'font-medium block',
        error_item_class: 'text-red-700 ',
        widget_class: 'p-2 border rounded-md border-black bg-white focus:bg-gray-200 focus:border-[374779] transition hover:bg-gray-100 w-full',
        widget_disabled_class: 'border-dashed text-gray-200 ',
        widget_errors_class: 'border-double border-red-500 bg-red-50',
    }) }}

    {% else %}
    {{ form_row(form.password, {
        row_class: 'mb-2',
        label_class: 'font-medium block',
        error_item_class: 'text-red-700 ',
        widget_class: 'p-2 border rounded-md border-black bg-white focus:bg-gray-200 focus:border-[374779] transition hover:bg-gray-100 w-full',
        widget_disabled_class: 'border-dashed text-gray-200 ',
        widget_errors_class: 'border-double border-red-500 bg-red-50',
    }) }}
    {% endif %}
    <p class="self-center unmask hover:text-blue-900 mb-2 cursor-pointer transition underline">Afficher le mot de passe</p>

    {{ form_row(form.roles, {
        row_class: 'mb-8 accent-[#374779] h6 w6',
        label_class: 'font-medium block',
        error_item_class: 'text-red-700 ',
        widget_class: 'mb-2 p-2 w-16',
        widget_disabled_class: 'border-dashed text-gray-200 ',
        widget_errors_class: 'border-double border-red-500 bg-red-50',
    }) }}

    <button class="self-center btn btn-lg btn-primary mb-6 text-white font-bold box-content h-5 w-48 p-4 border-2 border-[#374779] transition text-white bg-[#374779] hover:bg-[#CBD8E5] hover:text-[#374779]">{{ button_label|default('AJOUTER') }}</button>
</div>

<script>
    let unmask = document.querySelector(".unmask");
    unmask.onclick = (_)=> {
        let input = document.querySelector("#user_password");
        input.type==="password"?input.type="text":input.type="password";
    };
</script>

{{ form_end(form) }}
