{% extends 'admin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block content %}
    <table class="w-4/5 table">
        <thead class="border-b-[3px] border-navbar-background">
        <tr class="w-fit">
            <th class="p-3 space-x-8 text-left">Nom</th>
            <th class="p-3 space-x-8 text-left">Quantité</th>
            <th class="p-3 space-x-8 text-left">Prix</th>
            <th class="p-3 space-x-8 text-left">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% set prix = 0 %}
        <tr class="h-14">
        </tr>
        {% for article in articles %}
            {% if article.quantite > 0 %}
                <tr class="border-b-2 border-[#C4C4C4] text-[#7C7C7C] transition font-bold hover:bg-[#E4E4E4]">
                    <td class="px-3 py-1 ">{{ article.name }}</td>
                    <td class="px-3 py-1 ">{{ article.quantite }}</td>
                    <td class="px-3 py-1 ">{{ article.prix * article.quantite }}</td>

                    {%  set prix = prix + article.prix * article.quantite %}
                    <td class="px-3 py-1 text-center transition font-normal">
                        <a class="hover:text-[#374779]" href="{{ path('confirm_purchase', {'id':article.id, 'user':user.id}) }}">✔</a>
                        <a class="hover:text-[#374779]" href="{{ path('remove_reservation', {'id':article.id, 'user':user.id}) }}">🗑</a>
                    </td>

                </tr>
            {% endif %}

        {% else %}
            <tr>
                <td>Pas d'article dans ce panier</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <p class="font-bold text-right w-4/5">Total : {{ prix }} €</p>
{% endblock %}

