{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
<div class="flex flex-col justify-evenly w-[40rem] h-fit px-32 m-auto my-8 rounded-lg shadow-md bg-gray-100">
    <h1 class="self-center text-4xl font-bold my-8">Article</h1>
    
    <table class="table self-center m-2">
        <tbody>
            <tr>
                <th class="p-2">Nom</th>
                <td class="p-2">{{ article.name }}</td>
            </tr>
            <tr>
                <th class="p-2">Prix</th>
                <td class="p-2">{{ article.prix }}</td>
            </tr>
        </tbody>
    </table>
    
    <a href="{{ path('article_edit', {'id': article.id}) }}" class=" self-center ">
        <button  class="my-4 btn btn-lg btn-primary text-white font-bold box-content h-5 w-48 p-4 border-2 border-[#374779] transition text-white bg-[#374779] hover:bg-[#CBD8E5] hover:text-[#374779]">{{ button_label|default('MODIFIER') }}</button>
    </a>
    
    {{ include('article/_delete_form.html.twig') }}
    
    <a href="{{ path('article_index') }}" class="my-8 self-center unmask hover:text-blue-900 mb-2 cursor-pointer transition underline">Retour à la liste des articles</a>
</div>
{% endblock %}
