{% extends 'base.html.twig' %}

{% block title %}Association de la préfecture de la Haute-Vienne{% endblock %}

{% block body %}

    <div class="font-medium transition text-[#7C7C7C] m-16 hover:text-[#374779]">
        <a href="{{ path("shop") }}">🠔 Retour a la boutique</a>
    </div>

    <table class="w-1/2 table m-auto">
        <thead class="border-b-[3px] border-navbar-background">
        <tr class="w-fit">
            <th class="p-3 space-x-8 text-left">Nom</th>
            <th class="p-3 space-x-8 text-left">Quantité</th>
            <th class="p-3 space-x-8 text-left">Prix</th>
        </tr>
        </thead>
        <tbody>
        {% set prix = 0 %}
        <tr class="h-5"></tr>
        {% for reservation in reservations %}
                <tr class="border-b-2 border-[#C4C4C4] text-[#7C7C7C] transition font-bold hover:bg-[#E4E4E4]">
                    <td class="px-3 py-1 ">{{ reservation.name }}</td>
                    <td class="px-3 py-1 ">{{ reservation.quantity }}</td>
                    <td class="px-3 py-1 ">{{ reservation.price }}</td>
                </tr>
                {%  set prix = prix + reservation.price %}
        {% else %}
            <tr>
                <td>Pas d'article dans ce panier</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p class="font-bold text-right w-1/2 m-auto">Total : {{ prix }} €</p>
{% endblock %}
