{% extends 'base.html.twig' %}

{% block title %}Office index{% endblock %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Poste</th>
                <th>Descriptions</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for office in offices %}
            <tr>
                <td>{{ office.id }}</td>
                <td>{{ office.role }}</td>
                <td>{{ office.description }}</td>
                <td>
                    <a href="{{ path('office_show', {'id': office.id}) }}">show</a>
                    <a href="{{ path('office_edit', {'id': office.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('office_new') }}">Create new</a>
    {% endif %}
{% endblock %}
