{% extends 'base.html.twig' %}

{% block title %} Connexion {% endblock %}

{% block body %}

    <div class="flex justify-start">
        <div class="w-1/5 py-20 text-lg">
            <ul class="text-right px-10 font-bold">
                {% set currentPath = path(app.request.attributes.get('_route'),
                    app.request.attributes.get('_route_params')) %}
                {% if currentPath == "/admin/user/"  %}
                    <li class="py-3 transition text-navbar-background"><a href="{{ path("user_index") }}">Utilisateurs</a></li>
                {% else %}
                    <li class="py-3 transition hover:scale-105  text-[#C4C4C4]  hover:text-navbar-background"><a href="{{ path("user_index") }}">Utilisateurs</a></li>
                {% endif %}

                {% if currentPath == "/admin/article/"  %}
                    <li class="py-3 transition text-navbar-background"><a href="{{ path("article_index") }}">Boutique</a></li>
                {% else %}
                <li class="py-3 transition hover:scale-105  text-[#C4C4C4] hover:text-navbar-background"><a href="{{ path("article_index") }}">Boutique</a></li>
                {% endif %}

                {% if currentPath == "/admin/bureau/"  %}
                    <li class="py-3 transition text-navbar-background"><a href="{{ path("office_index") }}">Bureau</a></li>
                {% else %}
                <li class="py-3 transition hover:scale-105  text-[#C4C4C4] hover:text-navbar-background"><a href="{{ path("office_index") }}">Bureau</a></li>
                {% endif %}

                {% if currentPath == "/admin/news/"  %}
                    <li class="py-3 transition text-navbar-background"><a href="{{ path("news_index") }}">Articles</a></li>
                {% else %}
                    <li class="py-3 transition hover:scale-105  text-[#C4C4C4] hover:text-navbar-background"><a href="{{ path("news_index") }}">Articles</a></li>
                {% endif %}

                {% if currentPath == "/admin/contact/"  %}
                    <li class="py-3 transition text-navbar-background"><a href="{{ path("contact_index") }}">Contacts</a></li>
                {% else %}
                    <li class="py-3 transition hover:scale-105  text-[#C4C4C4] hover:text-navbar-background"><a href="{{ path("contact_index") }}">Contacts</a></li>
                {% endif %}
            </ul>
        </div>

        <div class="w-4/5 py-20 px-20">
            {% block content %}

            {% endblock %}
        </div>
    </div>


{% endblock %}