            {% set currentPath = path(app.request.attributes.get('_route'),
            app.request.attributes.get('_route_params')) %}
            <nav class="bg-navbar-background text-lg drop-shadow">
                <div class="px-8 mx-auto">
                    <ul class="flex items-center justify-between h-[65px]">
                        <div class="flex space-x-4">
                            <div class="hidden md:flex items-center space-x-1">
                                {% if currentPath == "/"  %}
                                    <li><a class="transition underline underline-offset-8 font-semibold py-5 px-3 text-white" href="{{ path("home") }}">Accueil</a></li>
                                {% else %}
                                    <li><a class="transition hover:underline font-semibold py-5 px-3 text-white" href="{{ path("home") }}">Accueil</a></li>
                                {% endif %}
                            </div>
                        </div>

                        <div class="hidden md:flex items-center space-x-20">
                            {% if currentPath == "/bureau"  %}
                                <li><a class="transition underline underline-offset-8 font-semibold py-5 px-3 text-white" href="{{ path("bureau") }}">Bureau</a></li>
                            {% else %}
                                 <li><a class="transition hover:underline font-semibold py-5 px-3 text-white" href="{{ path("bureau") }}">Bureau</a></li>
                            {% endif %}
                            {% if app.user is null %}
                                {% if currentPath == "/login"  %}
                                    <li><a class="transition underline underline-offset-8 font-semibold py-5 px-3 text-white" href="{{ path("app_login") }}">Connexion</a></li>
                                {% else %}
                                <li><a class="transition hover:underline font-semibold py-5 px-3 text-white" href="{{ path("app_login") }}">Connexion</a></li>
                                {% endif %}
                            {% else %}
                                {% if is_granted('ROLE_ADHERENT') %}
                                    {% if currentPath == "/boutique"  %}
                                        <li><a class="transition underline underline-offset-8 font-semibold py-5 px-3 text-white" href="{{ path("shop") }}">Boutique</a></li>
                                    {% else %}
                                        <li><a class="transition hover:underline font-semibold py-5 px-3 text-white"    href="{{ path("shop") }}">Boutique</a></li>
                                    {% endif %}
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    {% if currentPath == "/admin"  %}
                                        <li><a class="transition underline underline-offset-8 font-semibold py-5 px-3 text-white" href="{{ path("admin") }}">Administration</a></li>
                                    {% else %}
                                         <li><a class="transition hover:underline font-semibold py-5 px-3 text-white" href="{{ path("admin") }}">Administration</a></li>
                                    {% endif %}
                               {% endif %}
                                {% if currentPath == "/profil/"  %}
                                    <li><a class="transition underline underline-offset-8 font-semibold py-5 px-3 text-white" href="{{ path("profile") }}">Profil</a></li>
                                {% else %}
                                    <li><a class="transition hover:underline font-semibold py-5 px-3 text-white" href="{{ path("profile") }}">Profil</a></li>
                                {% endif %}
                                <li><a class="transition hover:underline font-semibold py-5 px-3 text-white" href="{{ path("app_logout") }}">Déconnexion</a></li>
                            {% endif %}
                        </div>
                    </ul>
                </div>

            </nav>